form {
    margin: auto;
    padding: 5% 0 30% 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.form-container > * {
  width: 100%;
}

.mat-form-field {
    display: block;
}

.label {
    min-width: 100%!important;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.label:first-child {
    border-top: none;
    margin-top: 0;
}

button {
    width:100%;
}

#bottom {
    position: fixed;
    bottom: 0!important;
    left: 0;
    width: 100%;
    z-index: 10!important; 
}

#footer {
    position: fixed;
    bottom: 0;
}

#loginLink {
    color: #FFD600;
}

#icon {
    width: 2em;
}

.errors {
    width: 100%;
    text-align: center;
    color: red;
    height: 10em;
}

.mat-hint {
    font-size: xx-small;
}

#acceptCheckbox {
    margin: 0 1em;
}

#termsLink {
    color: bule!important;
}

#submitButton {
    margin-top: 2em;
}

#bottomDivider {
    margin-bottom: 2em;
}

#phonePrefix {
    vertical-align: super;
}


@media (min-width: 900px) {
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-container > * {
    width: 45%;
  }
}