h2 {
    color: #000;
}

form {
    margin: auto;
    padding: 5% 0;
}

.mat-form-field {
    display: block;
}

.label {
    min-width: 100%!important;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.label:first-child {
    border-top: none;
    margin-top: 0;
}

button {
    width:100%;
}

#footer {
    position: fixed;
    bottom: 0;
}

a {
    color: #FFD600;
}

#icon {
    width: 2em;
}


@media (min-width: 600px) {
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-container > * {
    width: 45%;
  }
}