<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <img src="/assets/icons/icon-192x192.png" id="icon">
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" id="head">
  <h2 class="text-center mat-title">Create Your Account</h2>
  <form (ngSubmit)="createClient()" #registerForm="ngForm">
    <div class="label">
      <b class="text-center">Information</b>
    </div>

    <!-- FIRST NAME -->
    <div class="input-container">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required [(ngModel)]="newClient.firstName" name="firstName" autocomplete="given-name" placeholder="First Name">
      </mat-form-field>

      <!-- LAST NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required [(ngModel)]="newClient.lastName" name="lastName" autocomplete="family-name" placeholder="Last Name">
      </mat-form-field>
    </div>

      <!-- BUSINESS NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Business Name <span>- optional</span></mat-label>
        <input matInput type="text" [(ngModel)]="newClient.businessName" name="businessName" placeholder="Business Name">
      </mat-form-field>

    <div class="label">
      <b class="text-center">Login Info</b>
    </div>
    
    <!-- EMAIL -->
    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required [(ngModel)]="newClient.email" name="email" autocomplete="email" placeholder="Email">
      </mat-form-field>
      
      <!-- PASSWORD -->
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" autocomplete="new-password" required [(ngModel)]="newClient.password" name="password" placeholder="Password">
        </mat-form-field>
      
        <!-- CONFIRM PASSWORD -->
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" autocomplete="new-password-confirmation" required [(ngModel)]="newClient.password_confirmation"
            name="password_confirmation" placeholder="Confirm Password">
        </mat-form-field>
      </div>

      <div class="label">
        <b class="text-center">Contact Info</b>
      </div>

      <!-- PHONE -->
      <mat-form-field appearance="outline">
        <mat-label>Phone #</mat-label>
        <input matInput type="tel" [(ngModel)]="newClient.phone" name="phone" autocomplete='tel-national' placeholder="Phone #">
      </mat-form-field>
    </div>
  
    <div class="input-container">
    <!-- ADDRESS -->
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput type="text"  required [(ngModel)]="newClient.address" name="address" autocomplete="street-address" placeholder="Address">
    </mat-form-field>

    <!-- CITY -->

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" required [(ngModel)]="newClient.city" name="city" autocomplete="address-level2" placeholder="City">
      </mat-form-field>
    </div>
    <div class="input-container">
      <!-- STATE -->
      <mat-form-field appearance="outline">
        <mat-select placeholder="State*" required [(ngModel)]="newClient.state" name="state" autocomplete="state">
          <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- ZIP CODE -->
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput type="text" required [(ngModel)]="newClient.zip" name="zip" autocomplete="postal-code" placeholder="Zip Code">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <!-- SUBMIT BUTTON -->
    <div class="text-center">
      <button mat-stroked-button type="submit" color="accent" [disabled]="!registerForm.form.valid" (click)="createClient()">Create Account</button>
    </div>
  </form>

  <div>
    <p class="text-center" [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
  </div>
</div>

<mat-toolbar id="footer" color="primary">
  <div class="text-center">
    <p class="mat-h5">Already have a account?
      <a routerLink="/login" color="accent">Login</a>
    </p>
  </div>
</mat-toolbar>