<div class="text-center">
  <h1 class="mat-title">New Survey</h1>
</div>

<form [formGroup]="surveyForm" (ngSubmit)="submitForm()" class="form">

  <mat-form-field>
    <mat-select placeholder="Survey Category" formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SURVEY NAME -->
  <mat-form-field appearance="outline">
    <mat-label>Survey Name:</mat-label>
    <input matInput formControlName="name" />
    <mat-error>
      <span *ngIf="!surveyForm.get('name').valid && surveyForm.get('name').touched">Please enter Survey Name</span>
    </mat-error>
  </mat-form-field>

  <div formArrayName="questions">
    <div *ngFor="let question of surveyForm.controls['questions']['controls']; let i = index" [formGroupName]="i">
      <!-- The repeated address template -->
      <mat-card>
        <mat-card-header>
          <h6>Question #{{i + 1}}</h6>
          <span class="spacer"></span>
          <mat-icon matSuffix (click)="removeQuestion(i)">clear</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
              <mat-select formControlName="questionType" >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let qType of questionTypes" [value]="qType.value">
                  {{qType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-container [ngSwitch]="surveyForm.value.questions[i]?.questionType">
              <ng-container *ngSwitchCase="'boolean'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'yesno'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'text'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'mutiplechoice'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
                <div formArrayName="options">
                  <div *ngFor="let option of question.get('options').controls; let j=index">
                    <p>{{j+1}}</p>
                    <div [formGroupName]="j">
                      <mat-form-field>
                        <mat-label>option:</mat-label>
                        <input matInput formControlName="optionName" />
                      </mat-form-field>
                    </div>
                  </div>
                  <button type="button" (click)="addNewOption(question.controls.options)">
                    Add new Option
                  </button>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'paragraph'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'smilieFaces'">
                <mat-form-field>
                  <mat-label>Question:</mat-label>
                  <input matInput formControlName="question">
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <b>Select Question Type</b>
              </ng-container>
            </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-slide-toggle formControlName="private">Private</mat-slide-toggle>
  <!-- Submit Button -->
  <div class="text-center" id="button-group">
    <button mat-raised-button type="button" (click)="addQuestion()" color="accent">Add Question</button>
    <button mat-stroked-button type="submit" [disabled]=!surveyForm.valid>Submit</button>
  </div>
</form>
<div>
  <p class="text-center" [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
</div>