<div class="text-center">
  <h1 class="mat-title">New Survey</h1>
</div>

<form [formGroup]="surveyForm" (ngSubmit)="submitForm()" class="form">

  <mat-form-field>
    <mat-select placeholder="Survey Category" formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SURVEY NAME -->
  <mat-form-field appearance="outline">
    <mat-label>Survey Name:</mat-label>
    <input matInput formControlName="name" />
    <mat-error>
      <span *ngIf="!surveyForm.get('name').valid && surveyForm.get('name').touched">Please enter Survey Name</span>
    </mat-error>
  </mat-form-field>

  <div formArrayName="questions">
    <div *ngFor="let question of surveyForm.controls['questions']['controls']; let i=index" formGroupName="{{i}}">
      <!-- The repeated address template -->
      <mat-card>
        <mat-card-header>
          <h6>Question #{{i + 1}}</h6>
          <!-- <mat-form-field>
            <mat-select placeholder="Question type" formControlName="type">
              <mat-option *ngFor="let type of questionTypes" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label >Question:</mat-label>
            <input matInput formControlName="question">
            <mat-icon matSuffix (click)="removeQuestion(i)">clear</mat-icon>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Submit Button -->
    <div class="text-center" id="button-group">
      <button mat-raised-button (click)="addQuestion()" color="accent">Add Question</button>
      <button mat-stroked-button type='submit' [disabled]=!surveyForm.valid>Submit</button>
    </div>
  </div>
</form>


<p>surveyForm value: {{ surveyForm.value | json}}</p>

<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>