<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [(opened)]="opened">
        <mat-toolbar color="primary">
            <a mat-button routerLink="/" (click)="drawer.toggle()">
                <h4 mat-line>Back</h4>
            </a>
        </mat-toolbar>
        <mat-nav-list>
            <div *ngFor="let item of links">
                <a mat-list-item [routerLink]="[item.link]" [routerLinkActive]="['active']" (click)="drawer.toggle()">
                    <i mat-list-icon class="material-icons">{{ item.icon }}</i>
                    <h4 mat-line>{{ item.name | translate }}</h4>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <img src="/assets/icons/menu.png" alt="menu icon" class="icon-button">
            </button>
            <span class="spacer"></span>
            <mat-form-field>
                <select matNativeControl (change)="changeLang($event.target.value)">
                    <option *ngFor="let lang of langList$ | async" [value]="lang.code"
                        [selected]="lang.code === currentLang">
                        {{ lang.name }}
                    </option>
                </select>
            </mat-form-field>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>