.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.mat-form-field {
    font-size: small!important;
    font-weight: 100;
    width: 5em;
}

h6 {
  font-size: small!important;
}

.icon-button {
    height: 70%;
    width: auto;
}