<div class="center-text">
  <h3>Upload users</h3>
  <mat-divider></mat-divider>
  <h5 class="mat-caption">To insure the correct format of users, and to minimize any errors. Please insure that your data is in order of name, email, phone number. and your file is in a excel document format(.xlsx). or download the starter file.</h5>
  <mat-divider></mat-divider>
  <div class="export-button">
    <button mat-button (click)="export()">
      <mat-icon aria-label="starterexcel file">insert_drive_file</mat-icon> 
      <p> Starter file</p>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<input type="file" (change)="onFileChange($event)" id="upload-file" multiple="false" />
<table class="sjs-table">
  <tr *ngFor="let row of uploadData">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>

<div *ngIf="show" class="upload-button">
  <button mat-raised-button (click)="uploadUsers()" color="accent" class="upload-button">
    <mat-icon aria-label="starterexcel file">cloud_upload</mat-icon>
    <p> Upload</p>
  </button>
</div>