<div class="container-fluid">
  <mat-card class="info">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img src="assets/missing.jpg" alt="profile image">
      </div>
      <div class="header-text">
        <mat-card-title>{{currentClient.firstName}} {{currentClient.lastName}}</mat-card-title>
        <mat-card-subtitle>Testing</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="content-box">
        <p class="content-top">Surveys</p>
        <p class="content-bottom">{{ currentClient.surveys }}</p>
      </div>
      <div class="content-box">
        <p class="content-top">Users</p>
        <p class="content-bottom">{{ currentClient.users }}</p>
      </div>
      <div class="content-body">
        <p>Email: {{currentClient.email}}</p>
        <p>Phone: {{currentClient.phone}}</p>
        <p>Address: {{ currentClient.address }}</p>
        <p>City: {{ currentClient.city }}</p>
        <p>State: {{ currentClient.state }}</p>
        <p>Zip: {{ currentClient.zip }}</p>
        <p>Subscription: {{ currentClient.subscription }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button [routerLink]="['/profile', currentClient._id]">EDIT</button> -->
      <button mat-button (click)="openDialog()">EDIT</button>
    </mat-card-actions>
  </mat-card>
</div>

{{currentUser | json}}