<div class="container">
  <div class="info">
    <div class="header">
      <div class="header-image">
        <img src="assets/missing.jpg" alt="profile image">
      </div>
      <div class="header-text">
        <h6>{{currentClient.firstName}} {{currentClient.lastName}}</h6>
      </div>
    </div>
    <div class="content">
      <div class="content-box">
        <p class="content-top">Surveys</p>
        <p class="content-bottom">{{ currentClient.surveys }}</p>
      </div>
      <div class="content-box">
        <p class="content-top">Users</p>
        <p class="content-bottom">{{ currentClient.users }}</p>
      </div>
      <div class="content-body">
        <p>Email: {{currentClient.email}}</p>
        <p>Phone: {{currentClient.phone}}</p>
        <p>Address: {{ currentClient.address }}</p>
        <p>City: {{ currentClient.city }}</p>
        <p>State: {{ currentClient.state }}</p>
        <p>Zip: {{ currentClient.zip }}</p>
        <p>Subscription: {{ currentClient.subscription }}</p>
      </div>
    </div>
    <div class="action">
      <button mat-stroked-button (click)="openDialog()" color="primary">EDIT</button>
    </div>
    </div>
</div>