.info {
    margin-top: 3em;
    width: 100%;
}
.header{
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
}

.header-image {
  background-size: cover;
}

.header-text {
    margin: 0 2em;
}

.header-image, .header-text {
    display: flex;
}

img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    align-items: center;
}

.content-box {
    display: inline-block;
    margin: 1em 3em;
}

.content-body {
    padding: 0 2em;
}

.content-body p {
    margin: 0!important;
}

.action {
    width: 100%;
}
.action button {
    width: 100%;
    margin: 2em auto;
}