#submit-button {
    width:100%;
    margin-top: 1em;
}
#cancel-button {
    width:100%;
    margin-top: 1em;
}

button {
    width: 100%;
}

.mat-form-field {
    width:100%;
    display: block;
}

.errors {
    width: 100%;
    text-align: center;
    color: red;
    height: 10em;
}