<form (ngSubmit)="createUser()" #registerForm="ngForm">
  <!-- FIRST NAME -->

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" required [(ngModel)]="newUser.name" placeholder="Name">
    </mat-form-field>

  <!-- EMAIL -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required autocomplete="username email" [(ngModel)]="newUser.email" autocomplete="email"
        placeholder="Email">
    </mat-form-field>

    <!-- PHONE -->
    <mat-form-field appearance="outline">
      <mat-label>Phone #</mat-label>
      <input matInput type="tel" name="phone" [(ngModel)]="newUser.phone" autocomplete="tel" placeholder="Phone #">
    </mat-form-field>

  <!-- SUBMIT BUTTON -->
  <div class="text-center">
    <button mat-stroked-button type="submit" color="accent" [disabled]="!registerForm.form.valid" (click)="createUser(); registerForm.reset()">Register</button>
  </div>
</form>