<div *ngIf="!requested" class="request-card">
    <div class="header">
        <h2 class="mat-h2">Reset your password</h2>
    </div>
    <form [formGroup]="requestForm">
        <!-- ** EMAIL ** -->
        <h6>Enter your email address and we will send you a link to reset your password.</h6>
        <mat-form-field appearance="outline">
            <span matPrefix>
                <mat-icon>
                    email
                </mat-icon>
            </span>
            <input matInput required formControlName="email" autocomplete="email" placeholder="Email">
        </mat-form-field>

        <!-- BUTTON -->
        <button mat-stroked-button type="submit" (click)="sendRequest(requestForm)" [disabled]="!requestForm.valid" color="primary" id="request-button">Send password reset email</button>
    </form>
</div>

<!-- <div *ngIf="requested">
    <app-request></app-request>
</div> -->
<div *ngIf="requested">
    <div *ngIf="!verified" class="verify-card">
        <div class="header">
            <h2 class="mat-h2">Enter verification number</h2>
        </div>
        <form [formGroup]="verifyForm">
            <!-- ** VERIFICATION NUMBER ** -->
            <h6>Enter verification number to reset your password.</h6>
            <mat-form-field appearance="outline">
                <input matInput type="number" required formControlName="number" placeholder="Verification number">
            </mat-form-field>
    
            <!-- BUTTON -->
            <button mat-stroked-button type="submit" (click)="verify(verifyForm)" [disabled]="!verifyForm.valid" color="primary"
                class="submit-button">Verify
            </button>
        </form>
    </div>
    
    <div *ngIf="verified" class="reset-card">
        <div class="header">
            <h2 class="mat-h2">Enter new password</h2>
        </div>
        <form [formGroup]="resetForm">
            <!-- PASSWORD -->
            <div class="input-container">
                <mat-hint align="start"><strong>8+ charactors, 1 uppercase, 1 number</strong> </mat-hint>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="password" [errorStateMatcher]="matcher" required
                        autocomplete="new-password">
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">
                        Password is to short
                    </mat-error>
                    <mat-error *ngIf="password.hasError('maxlength')">
                        Password cannot be longer then 250 charactors
                    </mat-error>
                </mat-form-field>
    
                <!-- CONFIRM PASSWORD -->
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirm_pass" required autocomplete="new-password-confirmation">
                </mat-form-field>
            </div>
    
            <!-- BUTTON -->
            <button mat-stroked-button type="submit" (click)="sendReset(resetForm)" [disabled]="!resetForm.valid" color="primary"
                class="submit-button">Reset password
            </button>
        </form>
    </div>
</div>