.request-card, .verify-card, .reset-card {
    max-width: 19em;
    margin: auto;
}

form {
    margin: auto;
}

.mat-form-field {
    display: block;
    background-color: white;
}

.mat-input-element {
    vertical-align: text-top;
}

#request-button {
    width: 100%;
}