<footer>
  <mat-grid-list cols="3" rowHeight="50px">
    <!-- LEFT COLUMN -->
    <mat-grid-tile colspan="2" rowspan="4" id="left-column">
      <ul>
        <li><h5>SUBSCRIBE</h5></li>
        <li>
          <form [formGroup]="emailSubForm">
          <div *ngIf="errors" class="errors">
            <span>{{ errors }}</span>
          </div>
          <mat-form-field class="emailSub">
            <mat-label>email</mat-label>
            <input matInput autocomplete="email" [formControl]="emailFormControl" />
            <button mat-icon-button type="submit" (click)="addEmailSub(emailSubForm)" [disabled]="!emailSubForm.valid" matSuffix>
              <mat-icon color="accent">
                send
              </mat-icon>
            </button>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('maxlength')">
              cannot be > then 250 charactors
            </mat-error>
          </mat-form-field>
        </form></li>
      </ul>
    </mat-grid-tile>
    <!-- RIGHT COLUMN -->
    <mat-grid-tile colspan="1" rowspan="4">
      <ul id="services-list">
        <li>
          <h5>COMPANY</h5>
        </li>
        <li>
          <a [href]='contactEmail' target='_top'>
            <mat-icon aria-label="Contact Icon">email</mat-icon>
            <span> Contact</span>
          </a>
        </li>
        <li>
          <a (click)="openFeedback()">
            <mat-icon aria-label="Feedback Icon">rate_review</mat-icon>
            <span> Feedback</span>
          </a>
        </li>
        <li>    
          <a [href]="facebookUrl" target='_blank' rel='noopener' id="facebook-icon">
            <mat-icon svgIcon="facebook" aria-label="Facebook Icon"></mat-icon>
            <span> Facebook</span>
          </a>
        </li>
      </ul>
    </mat-grid-tile>
    <!-- BOTTOM COPY RIGHT -->
    <mat-grid-tile colspan="3" rowspan="1">
      <button mat-button (click)="openDialog()" id="copyright">&copy; 2019 ME LLC Group. All Rights Reserved.</button>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
