.spacer {
  flex: 1 1 auto;
}

.loaded {
    width: 100%;
    margin: auto;
}

.mat-spinner {
    margin: 5em auto;
}

#header {
    width: 100%;
    text-align: center;
}

#header a {
    font-size: x-small;
}

#survey {
    padding: 1em;
}

h5 {
    margin: 0;
}

#button-group {
    margin: 2em;
}
button {
    width:100%;
}

.mat-divider {
    margin: 1em 0;
}

a {
    color: black;
    text-decoration: none;
}

#title {
    display: inline-flex;
}

#download-icon {
    left: 0;
    padding: 0 1em;
    position: absolute;
    display: inline-flex;
}

table {
    width: 100%;    
}

th {
    display: table-header-group;
}

td, th {
    width:100%;
    text-align: left;
    padding: 8px;
}

.answers {
    border-bottom: 1px solid #dddddd;
}

.answers .average {
    width: 100%;
    text-align: center;
}

.chart-container {
  position: relative;
  margin: auto;
  width:100%;
  height: auto;
}


.booleanData {
    width:100%;
    display: flex;
}

.mat-card {
    max-height: 300px;
    overflow-y: scroll;
}