<div class="header">
  <div *ngIf="lvl !== 'FREE'">
    <button mat-icon-button matTooltip="Download Survey" [matMenuTriggerFor]="downloadMenu" id="download-icon">
      <mat-icon>cloud_download</mat-icon>
      <p>Download results</p>
    </button>
    <mat-menu #downloadMenu="matMenu">
      <button mat-menu-item (click)="downloadJson()">
        Json file
      </button>
      <button mat-menu-item (click)="downloadText()">
        Text file
      </button>
    </mat-menu>
    <br>
  </div>
  <h2>{{ title | titlecase }}</h2>

  <h6 class="mat-caption" *ngIf="!private">
    <a href="https://www.surveysbyme.com/takeSurvey/{{ survey?._id }}">URL: www.surveysbyme.com/takeSurvey/{{ survey?._id }}</a>
  </h6>

  <div *ngIf="lvl !== 'FREE'">
    <h6>last submission was: <span *ngIf="timeSinceLastSubmission <= 1"> Less then an hour ago.</span> <span *ngIf="timeSinceLastSubmission > 1">{{ timeSinceLastSubmission | number:'1.0-0' }} hours ago.</span></h6>

    <mat-card>
      <mat-card-title>Survey Volume</mat-card-title>
      <mat-card-content>
        <div class="chart-container">
          <canvas #myCanvas aria-label="Chart Image" role="img">{{ chart }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="small-boxes" *ngIf="private">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile >
      <mat-grid-tile-header>Total Answers</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ total | number }}</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-grid-tile-header>Average Time</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ surveyAvg }}</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Total Time</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ timeTotal }}</mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div id="survey" *ngFor="let question of questions; let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>#{{ i + 1 }} {{ question.question }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="answers" *ngFor="let answer of question.answers; let j = index">

          <ng-container [ngSwitch]="question?.questionType">
          
            <!-- BOOLEAN -->
            <ng-container *ngSwitchCase="'boolean'">
              <h4 class="booleanData">True = {{ answer[0] }}</h4>
              <h4 class="booleanData">False = {{ answer[1] }}</h4>
            </ng-container>
          
            <!-- DATE -->
            <ng-container *ngSwitchCase="'date'">
              <h4>{{ j + 1 }} ) {{ answer | date }}</h4>
            </ng-container>
          
            <!-- YES NO -->
            <ng-container *ngSwitchCase="'yesno'">
              <h4 class="booleanData">Yes = {{ answer[0] }}</h4>
              <h4 class="booleanData">No = {{ answer[1] }}</h4>
            </ng-container>
          
            <!-- TEXT -->
            <ng-container *ngSwitchCase="'text'">
              <h4>{{ j + 1 }} ) {{ answer }}</h4>
            </ng-container>
          
            <!-- MULTI CHOICE -->
            <ng-container *ngSwitchCase="'multiplechoice'">
              <mat-chip-list class="mat-chip-list-stacked">
                <mat-chip [style.background]="answer.color" disabled>
                  {{ j + 1 }} ) {{ answer.optionName }} =  <span *ngIf="!answer.count"> 0</span> <span *ngIf="answer.count"> {{ answer.count }}</span>
                </mat-chip>
              </mat-chip-list>
            </ng-container>
          
            <!-- PARAGRAPH -->
            <ng-container *ngSwitchCase="'paragraph'">
              <h4>{{ j + 1 }} ) {{ answer }}</h4>
            </ng-container>
          
            <!-- FACES -->
            <ng-container *ngSwitchCase="'smilieFaces'">
              <h4>
                <div class="average">
                  <h1>{{answer | number }}</h1>
                  <h3>Average</h3>
                </div>
              </h4>
            </ng-container>
          
            <!-- SATISFACTION -->
            <ng-container *ngSwitchCase="'satisfaction'">
              <h4>
                <div class="average">
                  <h1>{{answer | number }}</h1>
                  <h3>Average</h3>
                </div>
              </h4>
            </ng-container>
          
            <!-- SLIDE -->
            <ng-container *ngSwitchCase="'slide'">
              <h4>{{ j + 1 }} ) {{ answer }}</h4>
            </ng-container>
          
            <!-- SLIDE RATE -->
            <ng-container *ngSwitchCase="'rate'">
              <h4>
                <div class="average">
                  <h1>{{answer | number }}</h1>
                  <h3>Average</h3>
                </div>
              </h4>
            </ng-container>

            <!-- STAR RATING -->
            <ng-container *ngSwitchCase="'star'">
              <h4>
                <div class="average">
                  <h6>Calculations based off {{ countAvgAnswers }} Answers.</h6>
                  <h1>{{answer | number }}</h1>
                  <h3>Average</h3>
                </div>
              </h4>
            </ng-container>
          
            <!-- LIKE UNLIKE -->
            <ng-container *ngSwitchCase="'likeunlike'">
              <h4 class="booleanData">Like = {{ answer[0] }}</h4>
              <h4 class="booleanData">Unlike = {{ answer[1] }}</h4>
            </ng-container>
          
            <!-- GOOD BAD -->
            <ng-container *ngSwitchCase="'goodbad'">
              <h4 class="booleanData">Good = {{ answer[0] }}</h4>
              <h4 class="booleanData">Bad = {{ answer[1] }}</h4>
            </ng-container>
          
            <!-- DEFAULT -->
            <ng-container *ngSwitchDefault></ng-container>
          </ng-container>
        </div>
      </mat-card-content>
  </mat-card>
</div>


<div id="button-group">
  <button mat-raised-button (tap)="back()" color="primary">Back to Surveys</button>
</div>


