.spacer {
  flex: 1 1 auto;
}

#header {
    width: 100%;
    text-align: center;
}

#header a {
    font-size: x-small;
}

#survey {
    width: 100%;
    padding: 1em;
}

h5 {
    margin: 0;
}

#button-group {
    margin: 2em;
}
button {
    width:100%;
}

.mat-divider {
    margin: 1em 0;
}

a {
    color: black;
    text-decoration: none;
}

#title {
    display: inline-flex;
}

#download-icon {
    left: 0;
    padding: 0 1em;
    position: absolute;
    display: inline-flex;
}