<div class="container">
    <div class="header">
        <h2 class="mat-title">{{ "pricing.title" | translate }}</h2>
        <p>{{ "pricing.text" | translate }}</p>
    </div>

    <!-- FREE CARD -->
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <h3 class="mat-subheading-2">{{ "pricing.ctitle1" | translate }}</h3>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-list>
                <mat-list-item >
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>3 Surveys</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Questions</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>100 Responses/Month</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Survey incentive program</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Mobile friendly</h4>
                </mat-list-item>
                <mat-list-item >
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Standard email support</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="registerDialog()" color="accent"> Sign up for FREE</button>
        </mat-card-footer>
    </mat-card>

    <!-- BASIC CARD -->
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <h3 class="mat-subheading-2">{{ "pricing.ctitle2" | translate }}</h3>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-list>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Surveys</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Questions/Survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Responses/Month</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Survey incentive program</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Mobile friendly</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Standard 24/7 email support</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Custom logo on survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Real time basic analytics</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="registerDialog()" color="accent" disabled> $30 / month </button>
        </mat-card-footer>
    </mat-card>

    <!-- PRO CARD -->
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <h3 class="mat-subheading-2">{{ "pricing.ctitle3" | translate }}</h3>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-list>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited surveys</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited questions per survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Responses/Month</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Survey incentive program</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Mobile friendly</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Phone and priority 24/7 email support</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Custom logo on survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Custom colors</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Data export</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Real time pro analytics</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="registerDialog()" color="accent" disabled> $35 / month </button>
        </mat-card-footer>
    </mat-card>

    <!-- ELITE CARD -->
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <h3 class="mat-subheading-2">{{ "pricing.ctitle4" | translate }}</h3>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-list>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited surveys</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited questions per survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Unlimited Responses/Month</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Mobile friendly</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Phone and priority 24/7 email support</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>SMS text support</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Custom logo on survey</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Data exports</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Real time elite analytics</h4>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Advanced security protocals</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="registerDialog()" color="accent" disabled> $99 / month </button>
        </mat-card-footer>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <h3 class="mat-subheading-2">{{ "pricing.ctitle5" | translate }}</h3>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-list>
                <mat-list-item>
                    <img mat-list-icon src="/assets/icons/star.svg" alt="Star icon" />
                    <h4 mat-line>Contact us for more details</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <a mat-raised-button [href]='contactEmail' target='_top' color="accent" id="contact-button">Contact Us</a>
        </mat-card-footer>
    </mat-card>

</div>