FREE = FREE, Survey#: 1, survey URL

BASIC = $30: , Survey#: 100, Question#: 100, customer support via email, trended data, Custom logo, colors, and survey URL Basic Analytics,

PRO = $:35 , Survey#: &, Question#: &, 24/7 customer support via email, trended data, Custom logo, colors, and survey URL Data exports (CSV, PDF,
PPT, XLS), Pro Analytics

ELITE = $99, Survey#: &, Question#: &, 24/7 customer support via email, trended data, Custom logo, colors, and survey URL Data exports
(CSV, PDF, PPT, XLS), Pro Analytics, Unlimited text, Custom Text, 