<div class="header">
  <h2 class="mat-title">Surveys</h2>
</div>
<div *ngIf="logedIn">
  <button mat-stroked-button routerLink="/survey" color="primary" id="your-surveys-button">View your surveys</button>
</div>
<mat-table [dataSource]="dataSource" [trackBy]="TrackById">

  <!-- Owner Column -->
  <ng-container matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
        {{ element.creator.businessName }}
      <div *ngIf="!element.creator.businessName">
        {{ element.creator.firstName + " " + element.creator.lastName }} 
      </div>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef >
      <span> Take Survey </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="view">
      <mat-icon [routerLink]="['/takeSurvey', element._id]" color="accent">
        <i class="material-icons">visibility</i>
      </mat-icon>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalSize"
  [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>