#header {
    width: 100%;
}

#header h2 {
    text-align: center;
}

#your-surveys-button {
    margin-bottom: 1em;
    margin-left: 0.5em;
}
.mat-header-cell span {
    width: 100%;
    text-align: center;
}

.view {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.mat-paginator {
    display: block;
    position: fixed!important;
    bottom: 0!important;
    width: 100%;
}