<mat-dialog-content class="container-fluid">
  <section class="rights">
    <div class="col">
      <P>
        <b>{{ "cookies.title1" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text1" | translate }}
      </span>
      <P>
        <b>{{ "cookies.title2" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text2" | translate }}
      </span>
      <P>
        <b>{{ "cookies.title3" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text3" | translate }}
      </span>
      <P>
        <b>{{ "cookies.title4" | translate }}</b>
      </P>
      <table>
        <tr>
          <th>{{ "cookies.tableha" | translate }}</th>
          <th>{{ "cookies.tablehb" | translate }}</th>
        </tr>
        <tr>
          <td>{{ "cookies.tableb1a" | translate }}</td>
          <td>{{ "cookies.tableb1b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.tableb2a" | translate }}</td>
          <td>{{ "cookies.tableb2b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.tableb3a" | translate }}</td>
          <td>{{ "cookies.tableb3b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.tableb4a" | translate }}</td>
          <td>{{ "cookies.tableb4b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.tableb5a" | translate }}</td>
          <td>{{ "cookies.tableb5b" | translate }}</td>
        </tr>
      </table>
      <P>
        <b>{{ "cookies.title4b" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text4b" | translate }}
      </span>
      <table>
        <tr>
          <th>{{ "cookies.table2ha" | translate }}</th>
          <th>{{ "cookies.table2hb" | translate }}</th>
        </tr>
        <tr>
          <td>{{ "cookies.table2b1a" | translate }}</td>
          <td>{{ "cookies.table2b1b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.table2b2a" | translate }}</td>
          <td>{{ "cookies.table2b2b" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "cookies.table2b3a" | translate }}</td>
          <td>{{ "cookies.table2b3b" | translate }}</td>
        </tr>
      </table>
      <P>
        <b>{{ "cookies.title5" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text5" | translate }}
      </span>
      <P>
        <b>{{ "cookies.title6" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text6" | translate }}
      </span>
      <P>
        <b>{{ "cookies.title7" | translate }}</b>
      </P>
      <span>
        {{ "cookies.text7" | translate }} <a routerlink="/policies/usage"> Privacy Policy</a>
      </span>
      
    </div>
  </section>
</mat-dialog-content>