<mat-dialog-content class="container-fluid">
  <mat-tab-group>
    <mat-tab label="Monthly">
      <ng-template matTabContent>
        <button mat-stroked-button (click)="openLink($event, '1')" matTooltip="Basic Subscription"
          color="primary">Basic Subscription $30</button>
        <button mat-stroked-button (click)="openLink($event, '2')" matTooltip="Pro Subscription"
          color="primary">Pro Subscription $35</button>
        <button mat-stroked-button (click)="openLink($event, '3')" matTooltip="Elite Subscription"
          color="primary">Elite Subscription $99</button>
      </ng-template>
    </mat-tab>
    <mat-tab label="Anually">
      <ng-template matTabContent>
        <button mat-stroked-button (click)="openLink($event, '4')" matTooltip="Basic Subscription"
          color="primary">Basic Subscription $360</button>
        <button mat-stroked-button (click)="openLink($event, '5')" matTooltip="Pro Subscription"
          color="primary">Pro Subscription $420</button>
        <button mat-stroked-button (click)="openLink($event, '6')" matTooltip="Elite Subscription"
          color="primary">Elite Subscription $1,188</button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
</mat-dialog-content>