<div class="container-fluid">
  <h4 class="modal-title" id="updateParticipantModalLabel">Editing {{ data.firstName | titlecase }}</h4>
  <form (submit)="updateClient()" #formData="ngForm" class="form">
    <mat-form-field>
      <input matInput name='firstName' [(ngModel)]="data.firstName" #firstName='ngModel' placeholder="First Name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='lastName' [(ngModel)]="data.lastName" #lastName='ngModel' placeholder="Last Name" required>
    </mat-form-field>


    <mat-form-field>
      <input matInput name='email' [(ngModel)]="data.email" #email='ngModel' placeholder="Email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='phone' [(ngModel)]="data.phone" #phone='ngModel' placeholder="Phone #" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='address' [(ngModel)]="data.address" #address='ngModel' placeholder="Address" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='city' [(ngModel)]="data.city" #city='ngModel' placeholder="City" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='state' [(ngModel)]="data.state" #state='ngModel' placeholder="State" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='zip' [(ngModel)]="data.zip" #zip='ngModel' placeholder="Zip Code" required>
    </mat-form-field>

    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button type='submit' [disabled]=!formData.valid>Save</button>
  </form>
</div>

{{data | json}}


