<mat-dialog-content class="container-fluid">
  <h4 class="modal-title" id="updateParticipantModalLabel">Editing {{ data.firstName | titlecase }}</h4>
  <form (submit)="updateClient()" #formData="ngForm" class="form">
    <mat-form-field>
      <input matInput name='firstName' [(ngModel)]="data.firstName" #firstName='ngModel' placeholder="First Name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='lastName' [(ngModel)]="data.lastName" #lastName='ngModel' placeholder="Last Name" required>
    </mat-form-field>


    <mat-form-field>
      <input matInput name='businessName' [(ngModel)]="data.businessName" #businessName='ngModel' placeholder="Business Name (Optional)">
    </mat-form-field>

    <mat-form-field>
      <input matInput name='email' [(ngModel)]="data.email" #email='ngModel' placeholder="Email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='phone' [(ngModel)]="data.phone" #phone='ngModel' placeholder="Phone #" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='address' [(ngModel)]="data._address.address" #address='ngModel' placeholder="Address" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='city' [(ngModel)]="data._address.city" #city='ngModel' placeholder="City" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select name='state' [(ngModel)]="data._address.state" #state='ngModel' required autocomplete="state" placeholder="Select a State">
        <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='postalCode' [(ngModel)]="data._address.postalCode" #postalCode='ngModel' placeholder="Postal Code" required>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-stroked-button type='submit' [disabled]=!formData.valid  color='primary'>Save</button>
      <button mat-stroked-button (click)="cancel()" color='warn'>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>