.mat-dialog-content {
    padding: 0!important;
    margin: 0!important;
}

.mat-dialog-actions {
    width: 100%;
}
.mat-dialog-actions button {
    width: 80%;
    margin: 0.4em auto;
}

.mat-form-field {
    width: 90%;
    margin: auto;
}