section {
  width:100%;
  height: 100%;
}

.title {
  width: 100%;
}

.title h2 {
  text-align: center;
}


.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top: 1px solid #ffd600;
  border-right: 1px solid #ffd600;
  border-left: 1px solid #ffd600;
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 100%;
}

.total {
  height: 72%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.total b {
  margin: 25% 0 0 0;
  font-size: larger;
  font-weight: 400;
}

.mat-card-actions button {
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mat-card-content {
  font-size: 30px;
}

#volume-chart {
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 330px;
  overflow-y: unset;
  background: #000000d1;
  color: white;
  border-radius: 0;
  text-align: center;
}
