<section>
  <header>
    <mat-card id="volume-chart">
      <mat-card-title>Survey Activities</mat-card-title>
      <mat-card-content>
        <div class="chart-container" *ngIf="isBrowser">
          <canvas #myCanvas aria-label="Chart Image" role="img">{{ chart }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </header>
</section>
<section>
  <div class="grid-container">   
    <mat-grid-list cols="1" rowHeight="2:2">
      <!-- SURVEYS CARD -->
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-title>
              Total Surveys
          </mat-card-title>
          <mat-card-content class="dashboard-card-content">
            <div class="total">
              <b>{{ length }}</b>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button aria-label="View all surveys" routerLink="/dashboard/survey" color="primary">
              View Surveys
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile> 
    </mat-grid-list>
  </div>
</section>
