<div class="grid-container">
  <div class="title">
    <h2 class="mat-h2">Dashboard</h2>
  </div>
  <mat-grid-list cols="1" rowHeight="2:2">

    <!-- SURVEYS CARD -->
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <h4>
            Total Surveys
          </h4> 
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="total">
            <b>{{ length }}</b>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button aria-label="View all surveys" routerLink="/survey" color="primary">
            View Surveys
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile> 

  </mat-grid-list>


  
</div>