<div class="grid-container">
  <div class="title">
    <h2 class="mat-h2">Dashboard</h2>
  </div>
  <mat-grid-list cols="1" rowHeight="2:2">

    <!-- SURVEYS CARD -->
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" disabled>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item disabled>Expand</button>
              <button mat-menu-item disabled>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h5>Total Surveys</h5>
          <!-- <b>{{ client.s.length }}</b> -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button aria-label="View all surveys" routerLink="/survey" color="primary">
            View Surveys
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile> 

    <!-- PIE CHART CARD -->
    <mat-grid-tile>
      <mat-card class="dashboard-card">
          <app-pie-chart [width]="600" [height]="500"></app-pie-chart>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <h3>Bar Chart</h3>
  <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>

  <!-- <h3>Donut Chart</h3>
  <app-donut-chart [data]="donutChartData"></app-donut-chart> -->

  
</div>