<!-- TOP CONTAINER -->
<div class="container-fluid" id="background-top">
  <div id="container-top"></div>
</div>

<div class="container-fluid" id="container-middle">
  <!-- expansion -->
  <div class="row">
    <div class="row-header">
      <h3>{{ "home.text" | translate }}</h3>
    </div>
    <mat-accordion class="accordion">
      <!-- WHY -->
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-subheader>{{ "home.question1" | translate }}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <h5>{{ "home.answer1" | translate }}</h5>
          <div class="center-button">
            <button mat-raised-button routerLink="/register" color="primary">Sign up for free</button>
          </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">NEXT</button>
        </mat-action-row>
      </mat-expansion-panel>
  
      <!-- WHO -->
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-subheader>{{ "home.question2" | translate }}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h5>{{ "home.answer2" | translate }}</h5>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">NEXT</button>
        </mat-action-row>
      </mat-expansion-panel>
  
      <!-- PRICE -->
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-subheader>{{ "home.question3" | translate }}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <img mat-list-icon src="/assets/icons/baseline.svg" alt="item icon">
            <h4 mat-line>{{ "home.answer3a" | translate }}</h4>
          </mat-list-item>
          <mat-list-item>
            <img mat-list-icon src="/assets/icons/baseline.svg" alt="item icon">
            <h4 mat-line>{{ "home.answer3b" | translate }}</h4>
          </mat-list-item>
          <mat-list-item>
            <img mat-list-icon src="/assets/icons/baseline.svg" alt="item icon">
            <h4 mat-line>{{ "home.answer3c" | translate }}</h4>
          </mat-list-item>
          <mat-list-item>
            <img mat-list-icon src="/assets/icons/baseline.svg" alt="item icon">
            <h4 mat-line>{{ "home.answer3d" | translate }}</h4>
          </mat-list-item>
          <mat-list-item>
            <img mat-list-icon src="/assets/icons/baseline.svg" alt="item icon">
            <h4 mat-line>{{ "home.answer3e" | translate }}</h4>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">NEXT</button>
        </mat-action-row>
      </mat-expansion-panel>
  
      <!-- MORE -->
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-subheader>{{ "home.question4" | translate }}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <h5>{{ "home.answer4" | translate }}</h5>
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">NEXT</button>
        </mat-action-row>
      </mat-expansion-panel>
  
      <!-- PRICE -->
      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-subheader>{{ "home.question5" | translate }}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
  
          <h5>{{ "home.answer5" | translate }}</h5>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>
  
    </mat-accordion>
  </div>

  <div id="cards">
    <mat-card id="mobileFriendly">
      <h3>{{ "home.card1" | translate }}</h3>
    </mat-card>
    <mat-card id="realTime">
      <h3>{{ "home.card2" | translate }}</h3>
    </mat-card>
    <mat-card id="secure">
      <h3>{{ "home.card3" | translate }}</h3>
    </mat-card>
    <mat-card id="userFriendly">
      <h3>{{ "home.card4" | translate }}</h3>
    </mat-card>
  </div>

  <div class="signup">
    <button mat-raised-button routerLink="/register" color="accent">Get started for FREE!</button>
  </div>

</div>