.container-top {
  padding: 0!important;
  margin: 0!important;
}

#background-top {
  background: linear-gradient(to bottom, #000000 0%, #ffffff 46%);
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  padding: 0!important;
  margin: 0!important;
}

#container-top {
  background-image: url("/assets/SurveysbyME.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: black;
  min-height: 300px;
  max-height: 300px;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 72% 90%, 74% 87%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 72% 90%, 74% 87%, 0 100%, 0 0);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#top {
  padding: 2em 0;
}


.grid-container {
  margin: 20px;
}

#container-middle {
  padding: 0;
}

#cards {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
}

#cards .mat-card {
  scroll-snap-align: center;
  max-width: 18em;
  min-width: 18em;
}

.mat-card {
  min-width: 45vw;
  max-width: 45vw;
  min-height: 35vh;
  max-height: 35vh;
  margin: 1em;
  text-align: center;
}

.row {
  margin: 5em 1.5em;
}

.row-header {
  width: 100%;
  text-align: center;
}

.accordion {
  width: 100%;
  height: 100%;
}

.mat-card h3{
    vertical-align: middle;
    margin: 55% auto;
}

.center-button {
  width: 100%;
  text-align: center;
}

/* .mat-expansion-panel-header {
  background: #efecec80;
} */

#realTime {
  background-image: url("/assets/icons/realTime.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-size: contain;
  background-origin: content-box;
}
#secure {
  background-image: url("/assets/icons/secure.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-size: contain;
  background-origin: content-box;
}
#userFriendly {
  background-image: url("/assets/icons/userFriendly.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-size: contain;
  background-origin: content-box;
}
#mobileFriendly {
  background-image: url("/assets/icons/mobileFriendly.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-size: contain;
  background-origin: content-box;
}

.signup {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
