<div class="container-fluid">
  <div class="text-center" id="top">
    <h3>survey by</h3>
    <h1 class="mat-h1" id="me-text">ME</h1>
    <h6>your data is <span>"YOURS".</span></h6>
  </div>
</div>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card" colspan=2, rowspan=1>
        <mat-card-content class="dashboard-card-content">
          <div>Real time data anywhere you are!</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>