<div class="container">
    <section class="mat-typography">
        <h3>Surveys by ME is dedicated to putting data and information in your hands. Our platform makes it easy to create, gather  and analyse any data that will help you or your business gain knowledge and an advantage over others.</h3>
            
        <h3>We offer a wide range of services that are fit for anyones needs. If your a student that needs to gather information for a class project, or a major corperation that wants to find out how there employees are doing. Our platform will help and guide you to making the perfect survey.</h3> 
            
        <h3>Since we spend most of our day with our phones on us. We build our platform for optimized usage on a phone. That means no mater where you are in the world you can access your data without having to turn your phone sideways or zoom in to see your data.</h3>

        <h3>Learn more by registering for <a (click)="registerDialog()">FREE.</a></h3>
    </section>
</div>