.container{
    border: 1px solid #000;
    padding: 1em!important;
    margin: 0 3em;
}

.hf-container {
    border: 0.5px solid black;
    height: 50px;
    padding: 0px;
    margin: 1em 0;
}

.header {
  width: 100%;
}

.header h2 {
  text-align: center;
}

#button-pay{
    width: 100%;
    background: black;
    color: white;
    font-size: x-large;
    font-weight: 600;
    font-variant-caps: petite-caps;
}