.mat-dialog-content {
    padding: 0!important;
    margin: 0!important;
}

.mat-dialog-actions {
    width: 100%;
}

.mat-dialog-actions button {
    width: 100%;
    margin: 0.4em auto;
}

#FB-button {
    background-color: #4267b2;
    color: #fff;
}