<div *ngIf="remaining !== 0">
  <button mat-stroked-button routerLink="add" matTooltip="Create Survey" color="primary">New Survey</button>
</div>

<div *ngIf="remaining === 0">
  <h5 id="out">You are out of surveys. Upgrade your subscription to get more.</h5>
</div>

<div>
  <mat-table [dataSource]="dataSource" [trackBy]="TrackById">

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdAt | date}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 
        <span> Name </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> 
       <span> Action </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <mat-icon [routerLink]="['/user', element._id]" matTooltip="Send text message to take survey" color="primary">
          <i class="material-icons">
            textsms
          </i>
        </mat-icon> 
        <mat-icon [routerLink]="['/takeSurvey', element._id]" matTooltip="Take Survey" color="primary">
          <i class="material-icons">
            visibility
          </i>
        </mat-icon> 
        <mat-icon [routerLink]="['edit', element._id]" matTooltip="Edit" color="accent">
          <i class="material-icons">
            edit
          </i>
        </mat-icon> 
        <mat-icon [routerLink]="['analytics', element._id]" matTooltip="Results" color="primary">
          <i class="material-icons">
            assessment
          </i>
        </mat-icon>
        <mat-icon (click)="destroySurvey(element._id)" matTooltip="Delete"  color="warn">
          <i class="material-icons">
            delete_forever
          </i>
        </mat-icon> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>