<div *ngIf="remaining !== 0">
  <button mat-stroked-button routerLink="add" matTooltip="Create Survey" color="primary" id="add-button">New Survey</button>
</div>
<div *ngIf="remaining === 0">
  <h5 id="out">
    <span>* NOTE: </span> You are out of surveys. <a (click)="openBottomSheet()" class="upgrade">Upgrade </a> your subscription to get more.
  </h5>
</div>
<div>
  <mat-table [dataSource]="dataSource" [trackBy]="TrackById">

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdAt | date}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action" stickyEnd>
      <mat-header-cell *matHeaderCellDef>
        <mat-icon class="action-icon">more_vert</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="userAction" class="action-button">
          <mat-icon class="action-icon">more_vert</mat-icon>
        </button>
        <mat-menu #userAction="matMenu" class="action">
          <div *ngIf="element.private" class="private-icon">
            <button mat-menu-item routerLink="/dashboard/user/{{element._id}}" matTooltip="Assign users to survey">
              <mat-icon color="primary">
                <img src="/assets/icons/sms.png" alt="apps icon" class="icon-button">
              </mat-icon>
              <p>Assigned Users</p>
            </button>
          </div>
          <div *ngIf="!element.private">
            <button mat-menu-item matTooltip="Take Survey" [routerLink]="['/takeSurvey', element._id]">
              <mat-icon color="accent">
                <i class="material-icons">visibility</i>
              </mat-icon>
              <p>Take Survey</p>
            </button>
          </div>
          <button mat-menu-item matTooltip="Post Survey to facebook" (click)="facebookPost(element._id)">
            <mat-icon matTooltip="Edit" color="accent">
              <i class="material-icons">
                share
              </i>
            </mat-icon>
            <p>Share</p>
          </button>
          <button mat-menu-item matTooltip="Take Survey" [routerLink]="['edit', element._id]">
            <mat-icon matTooltip="Edit" color="accent">
              <i class="material-icons">
                edit
              </i>
            </mat-icon>
            <p>Edit Survey</p>
          </button>
          <button mat-menu-item matTooltip="Results" [routerLink]="['analytics', element._id]">
            <mat-icon color="primary">
              <img src="/assets/icons/assessment.png" alt="apps icon" class="icon-button">
            </mat-icon>
            <p>Survey Results</p>
          </button>
          <div *ngIf="pc">
            <div *ngIf="element.active">
              <button mat-menu-item matTooltip="Close Survey" (click)="closeSurvey(element._id)">
                <mat-icon>
                  <i class="material-icons">
                    lock
                  </i>
                </mat-icon>
                <p>Close Survey</p>
              </button>
            </div>
            <div *ngIf="!element.active">
              <button mat-menu-item matTooltip="Close Survey" (click)="openSurvey(element._id)">
                <mat-icon>
                  <i class="material-icons">
                    lock_open
                  </i>
                </mat-icon>
                <p>Open Survey</p>
              </button>
            </div>
          </div>
          <button mat-menu-item matTooltip="Remove Survey" (click)="destroySurvey(element._id)">
            <mat-icon color="warn">
              <i class="material-icons">
                delete_forever
              </i>
            </mat-icon>
            <p>Remove Survey</p>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>