.spacer {
  flex: 1 1 auto;
}

.mat-paginator {
    display: block;
    position: fixed!important;
    bottom: 0!important;
    width: 100%;
}


.mat-icon {
    padding: 0;
    margin: 0 5px;
}

.mat-header-cell span {
    width: 100%;
    text-align: center;
}