.spacer {
  flex: 1 1 auto;
}

#add-button {
    margin: 1em;
}

.mat-paginator {
    display: block;
    position: fixed!important;
    bottom: 0!important;
    width: 100%;
}

.mat-button, p {
  display: inline-block;
  margin: 0 3px;
}

#out {
    width:100%;
    text-align: center;
}


mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 20px;
    max-width: 30%;
}

mat-header-cell:last-of-type, mat-cell:last-of-type, mat-footer-cell:last-of-type {
    padding: 0;
    max-width: 9%;
}

#smsText {
    width:100%;
    margin: 1em;
}

.mat-row.hovered {
  background-color: #ffd60033;
}

.action-button {
    display: inline-flex;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
}

.action-icon {
    margin: auto;
    width: 100%;
}

.upgrade {
    color: mediumseagreen;
}

span {
    color: red;
}