<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="opened">
    <mat-toolbar color="primary">
      <a mat-button routerLink="/" (tap)="drawer.toggle()">Home</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/about" (tap)="drawer.toggle()">About Us</a>
      <a mat-list-item routerLink="/pricing" (tap)="drawer.toggle()">Pricing</a>
      <a mat-list-item routerLink="/list_of_surveys" (tap)="drawer.toggle()">View All Surveys</a>
      <a mat-list-item routerLink="/register" (tap)="drawer.toggle()">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" matTooltip="Login">
          <mat-icon>person_outline</mat-icon>
          <span>Login</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
