<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="header">
            <h2 class="mat-title">Checkout</h2>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container">
    <span class="card-text">Card #</span><div class="hf-container" id="card-number"></div>
    <span class="card-text">CVV</span><div class="hf-container" id="cvv"></div>
    <span class="card-text">Expriation Date</span><div class="hf-container" id="expiration-date"></div>
    <button mat-raised-button id="button-pay">Pay Now</button>
</div>