<div *ngIf="!loaded">
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>

<div *ngIf="processing">
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
        <h4>We are processing your request, this may take some time. Please do not reload or close this screen</h4>
    </div>
</div>
<div *ngIf="loaded && !processing">
    <div class="container">    
        <h3>{{ selectedPlan.name }}</h3>
        <h3>Plan amount: ${{selectedSubscription.price}}</h3>
        <h3>Tax: ${{selectedSubscription.tax}}</h3>
        <h3>Total: ${{selectedPlan.price}}</h3>
        <div class="card-container">
            <form action="/" method="post" id="cardForm">
                <label class="hf-label" for="card-number">Card Number</label>
                <div class="hf-container" id="card-number"></div>

                <label class="hf-label" for="expiration-date">Expiration Date</label>
                <div class="hf-container" id="expiration-date"></div>

                <label class="hf-label" for="cvv">CVV</label>
                <div class="hf-container" id="cvv"></div>

                <button type="submit" class="button button--small button--green" id="submit">Purchase</button>
                <button mat-button type="button" (click)="cancel()" color="warn">Cancel</button>
            </form>
        </div>
    </div>

</div>
