<div class="container">
    <div *ngFor="let plan of plans.plans">
        <div *ngIf="plan.id === subscriptionId">
            <h2>{{ plan.name }}</h2>
            <h2>Payment amount: ${{plan.price}}</h2>
        </div>
    </div>

    <div class="card-container">
        <form action="/" method="post" id="cardForm">
            <label class="hf-label" for="card-number">Card Number</label>
            <div class="hf-container" id="card-number"></div>

            <label class="hf-label" for="expiration-date">Expiration Date</label>
            <div class="hf-container" id="expiration-date"></div>

            <label class="hf-label" for="cvv">CVV</label>
            <div class="hf-container" id="cvv"></div>

            <button type="submit" class="button button--small button--green" id="submit">Purchase</button>
            <button mat-button type="button" (click)="cancel()" color="warn">Cancel</button>
        </form>
    </div>
</div>

{{ currentClient | json }}