<div *ngIf="!loaded; else mainTemplate">
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
<ng-template #mainTemplate>
    <div class="container">
        <div class="header">
            <h5 class="mat-title">{{ survey?.name | titlecase }}</h5>
        </div>
        
        <form [formGroup]="surveyForm" (ngSubmit)="submitForm()" class="form">
            <ng-container [ngSwitch]="survey.layout">
                <!-- STEPS LAYOUT -->
                <ng-container *ngSwitchCase="'STEPS'">
                    <mat-horizontal-stepper formArrayName="questions" labelPosition="bottom" #stepper>
                        <div *ngFor="let question of questions.controls; let i = index">
                            <mat-step [formGroupName]="i" [stepControl]="questions.get([i])">
                                <mat-card>
                                    <mat-card-header>
                                        <textarea matInput readonly="true" matTextareaAutosize="true" formControlName="question" id="question-input"></textarea>
                                    </mat-card-header>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <!-- BOOLEAN -->
                                        <div class="card-answer">
                                            <div *ngIf="survey?.questions[i]?.questionType === 'boolean'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">True</mat-radio-button>
                                                    <mat-radio-button [value]="0">False</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- YES NO -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'yesno'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- GOOD BAD -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'goodbad'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">Good</mat-radio-button>
                                                    <mat-radio-button [value]="0">Bad</mat-radio-button>
                                                </mat-radio-group>
                                            </div>


                                            <!-- TEXT -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'text'">
                                                <mat-form-field>
                                                    <mat-label>Answer:</mat-label>
                                                    <input matInput formControlName="answers" [required]="survey?.questions[i]?.isRequired" />
                                                </mat-form-field>
                                            </div>

                                            <!-- MULTI CHOICE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'multiplechoice'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" id="multichoice">
                                                    <mat-radio-button *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- MULTI CHOICE WITH OPTION -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'multiplechoiceOther'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" id="multichoiceOption">
                                                    <mat-radio-button *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-radio-button>
                                                    <mat-radio-button [value]="OPTION.value"> Other
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                                <textarea matInput #OPTION placeholder="Leave a comment"></textarea>
                                                {{OPTION.value}}
                                            </div>

                                            <!-- DATE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'date'">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #picker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DATE WITH START AND END RANGE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dateStartEnd'">
                                                <mat-form-field>
                                                    <input matInput [min]="survey?.questions[i]?.options[0]?.optionName" [max]="survey?.questions[i]?.options[1]?.optionName" [matDatepicker]="startEndPicker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="startEndPicker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #startEndPicker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DATE WEEKDAYS -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dateWeekday'">
                                                <mat-form-field>
                                                    <input matInput [matDatepickerFilter]="weekdayFilter" [matDatepicker]="weekdayPicker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="weekdayPicker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #weekdayPicker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DROP DOWN SINGLE ANSWER -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dropDown'">
                                                <mat-select formControlName="answers" [required]="survey?.questions[i]?.isRequired" placeholder="Make a selection" class="dropDown">
                                                    <mat-option *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                            <!-- DROP DOWN MULTIPLE ANSWERS -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dropDownMultiple'">
                                                <mat-select formControlName="answers" [required]="survey?.questions[i]?.isRequired" placeholder="Make a selection" class="dropDown" multiple>
                                                    <mat-option *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                            <!-- PARAGRAPH -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'paragraph'">
                                                <mat-form-field>
                                                    <mat-label>Answer:</mat-label>
                                                    <textarea matInput formControlName="answers" [required]="survey?.questions[i]?.isRequired"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <!-- SLIDE SCALE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'slide'">
                                                <mat-slider min="1" max="100" tickInterval="25" thumbLabel formControlName="answers" [required]="survey?.questions[i]?.isRequired"></mat-slider>
                                            </div>

                                            <!-- SMILIEFACES -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'smilieFaces'">
                                                <mat-button-toggle-group formControlName="answers" class="smilieFaces" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-button-toggle value="1">
                                                        <mat-icon>mood_bad</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="2">
                                                        <mat-icon>sentiment_very_dissatisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="3">
                                                        <mat-icon>sentiment_dissatisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="4">
                                                        <mat-icon>sentiment_satisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="5">
                                                        <mat-icon>sentiment_very_satisfied</mat-icon>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>

                                            <!-- LIKE UNLIKE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'likeunlike'">
                                                <mat-button-toggle-group formControlName="answers" class="likeunlike" [required]="survey?.questions[i]?.isRequired" id="thumbs">
                                                    <mat-button-toggle value="1">
                                                        <mat-icon>thumb_up</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="0">
                                                        <mat-icon>thumb_down</mat-icon>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>

                                            <!-- SATISFACTION -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'satisfaction'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" class="satisfaction-group">
                                                    <mat-radio-button class="satisfaction-button" [value]="1">Terrible</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="2">Bad</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="3">Ok</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="4">Good</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="5">Great</mat-radio-button>
                                                </mat-radio-group>
                                            </div>


                                            <!-- STAR RATING (Values are flipped for css ease) -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'star'">

                                                <div class="star" >
                                                
                                                    <input type="radio" id="r-1" [value]="5" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-1" matTooltip="5 Stars"></label>
                                                
                                                    <input type="radio" id="r-2" [value]="4" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-2" matTooltip="4 Stars"></label>
                                                
                                                    <input type="radio" id="r-3" [value]="3" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-3" matTooltip="3 Stars"></label>
                                                
                                                    <input type="radio" id="r-4" [value]="2" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-4" matTooltip="2 Stars"></label>
                                                
                                                    <input type="radio" id="r-5" [value]="1" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-5" matTooltip="1 Star"></label>
                                                </div>
                                            </div>

                                            <!-- RATING -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'rate'">
                                                <mat-slider thumbLabel tickInterval="1" min="1" max="5" formControlName="answers" [required]="survey?.questions[i]?.isRequired"></mat-slider>
                                            </div>

                                            <!-- INCENTIVE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'incentive'">
                                                <h5>For a chance at winning {{survey?.questions[i]?.option}}, Enter your email below.</h5>
                                                <form [formGroup]="incentiveForm">
                                                    <mat-form-field>
                                                        <mat-label>Email</mat-label>
                                                        <input matInput formControlName="userEmail">
                                                    </mat-form-field>
                                                </form>
                                                
                                            </div>

                                        <!-- END QUESTION TYPES -->
                                        </div>


                                        <!-- DIRECTIONAL ARROWS -->
                                        <div *ngIf="i === 0 && survey?.questions?.length === 1" class="single-button">
                                            <button mat-raised-button type="submit" [disabled]=!surveyForm.valid color="accent">Submit</button>
                                        </div>
                                        <div *ngIf="i === 0 && survey?.questions?.length > 1" class="single-button">
                                            <button mat-stroked-button matStepperNext type="button" color="primary">
                                                Next <img src="/assets/icons/arrow_forward.svg" alt="navigate forward icon">
                                            </button>
                                        </div>
                                        <div *ngIf="i > 0 && i < survey?.questions?.length - 1" class="button-group">
                                            <button mat-stroked-button matStepperPrevious type="button" color="back">
                                            <img src="/assets/icons/arrow_back.svg" alt="navigate back icon"> Back
                                            </button>
                                            <span class="spacer"></span>
                                            <button mat-stroked-button matStepperNext type="button" color="primary">
                                                Next <img src="/assets/icons/arrow_forward.svg" alt="navigate forward icon">
                                            </button>
                                        </div>
                                        <div *ngIf="i !== 0 && i === survey?.questions?.length - 1" class="button-group">
                                            <button mat-stroked-button matStepperPrevious type="button" color="back">
                                                <img src="/assets/icons/arrow_back.svg" alt="navigate back icon"> Back
                                            </button>
                                            <span class="spacer"></span>
                                            <button mat-raised-button type="submit" [disabled]=!surveyForm.valid color="accent">Submit</button>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </mat-step>
                        </div>
                    </mat-horizontal-stepper>
            </ng-container>
            <!-- SINGLE PAGE LAYOUT -->
            <ng-container *ngSwitchCase="'PAGE'">
                    <div formArrayName="questions">
                        <div *ngFor="let question of questions.controls; let i = index">
                            <div [formGroupName]="i">
                                <mat-card class="page-card">
                                    <mat-card-header>
                                        <div class="mat-card-header-text">
                                            <textarea matInput readonly="true" matTextareaAutosize="true" formControlName="question" id="question-input"></textarea>
                                        </div>
                                    </mat-card-header>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <!-- BOOLEAN -->
                                        <div class="card-answer">
                                            <div *ngIf="survey?.questions[i]?.questionType === 'boolean'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">True</mat-radio-button>
                                                    <mat-radio-button [value]="0">False</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- YES NO -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'yesno'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- GOOD BAD -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'goodbad'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-radio-button [value]="1">Good</mat-radio-button>
                                                    <mat-radio-button [value]="0">Bad</mat-radio-button>
                                                </mat-radio-group>
                                            </div>


                                            <!-- TEXT -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'text'">
                                                <mat-form-field>
                                                    <mat-label>Answer:</mat-label>
                                                    <input matInput formControlName="answers" [required]="survey?.questions[i]?.isRequired" />
                                                </mat-form-field>
                                            </div>

                                            <!-- MULTI CHOICE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'multiplechoice'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" id="multichoice">
                                                    <mat-radio-button *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <!-- MULTI CHOICE WITH OPTION -->
                                            <!-- <div *ngIf="survey?.questions[i]?.questionType === 'multiplechoiceOther'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" id="multichoiceOption">
                                                    <mat-radio-button *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-radio-button>
                                                    <mat-radio-button [value]="other.value">
                                                        <input type='text' #other/>
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div> -->

                                            <!-- DATE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'date'">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #picker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DATE WITH START AND END RANGE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dateStartEnd'">
                                                <mat-form-field>
                                                    <input matInput [min]="survey?.questions[i]?.options[0]?.optionName" [max]="survey?.questions[i]?.options[1]?.optionName" [matDatepicker]="startEndPicker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="startEndPicker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #startEndPicker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DATE WEEKDAYS -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dateWeekday'">
                                                <mat-form-field>
                                                    <input matInput [matDatepickerFilter]="weekdayFilter" [matDatepicker]="weekdayPicker" placeholder="Choose a date" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-datepicker-toggle matSuffix [for]="weekdayPicker"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #weekdayPicker color="accent"></mat-datepicker>
                                                    <mat-hint align="start"><strong>MM/DD/YYYY</strong> </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- DROP DOWN SINGLE ANSWER -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dropDown'">
                                                <mat-select formControlName="answers" [required]="survey?.questions[i]?.isRequired" placeholder="Make a selection" class="dropDown">
                                                    <mat-option *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                            <!-- DROP DOWN MULTIPLE ANSWERS -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'dropDownMultiple'">
                                                <mat-select formControlName="answers" [required]="survey?.questions[i]?.isRequired" placeholder="Make a selection" class="dropDown" multiple>
                                                    <mat-option *ngFor="let option of survey?.questions[i]?.options" [value]="option.optionName">
                                                        {{option.optionName}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                            <!-- PARAGRAPH -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'paragraph'">
                                                <mat-form-field>
                                                    <mat-label>Answer:</mat-label>
                                                    <textarea matInput formControlName="answers" [required]="survey?.questions[i]?.isRequired"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <!-- SLIDE SCALE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'slide'">
                                                <mat-slider min="1" max="100" tickInterval="25" thumbLabel formControlName="answers" [required]="survey?.questions[i]?.isRequired"></mat-slider>
                                            </div>

                                            <!-- SMILIEFACES -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'smilieFaces'">
                                                <mat-button-toggle-group formControlName="answers" class="smilieFaces" [required]="survey?.questions[i]?.isRequired">
                                                    <mat-button-toggle value="1">
                                                        <mat-icon>mood_bad</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="2">
                                                        <mat-icon>sentiment_very_dissatisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="3">
                                                        <mat-icon>sentiment_dissatisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="4">
                                                        <mat-icon>sentiment_satisfied</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="5">
                                                        <mat-icon>sentiment_very_satisfied</mat-icon>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>

                                            <!-- LIKE UNLIKE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'likeunlike'">
                                                <mat-button-toggle-group formControlName="answers" class="likeunlike" [required]="survey?.questions[i]?.isRequired" id="thumbs">
                                                    <mat-button-toggle value="1">
                                                        <mat-icon>thumb_up</mat-icon>
                                                    </mat-button-toggle>
                                                    <mat-button-toggle value="0">
                                                        <mat-icon>thumb_down</mat-icon>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>

                                            <!-- SATISFACTION -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'satisfaction'">
                                                <mat-radio-group formControlName="answers" [required]="survey?.questions[i]?.isRequired" class="satisfaction-group">
                                                    <mat-radio-button class="satisfaction-button" [value]="1">Terrible</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="2">Bad</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="3">Ok</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="4">Good</mat-radio-button>
                                                    <mat-radio-button class="satisfaction-button" [value]="5">Great</mat-radio-button>
                                                </mat-radio-group>
                                            </div>


                                            <!-- STAR RATING (Values are flipped for css ease) -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'star'">

                                                <div class="star" >
                                                
                                                    <input type="radio" id="r-1" [value]="5" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-1" matTooltip="5 Stars"></label>
                                                
                                                    <input type="radio" id="r-2" [value]="4" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-2" matTooltip="4 Stars"></label>
                                                
                                                    <input type="radio" id="r-3" [value]="3" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-3" matTooltip="3 Stars"></label>
                                                
                                                    <input type="radio" id="r-4" [value]="2" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-4" matTooltip="2 Stars"></label>
                                                
                                                    <input type="radio" id="r-5" [value]="1" formControlName="answers" [required]="survey?.questions[i]?.isRequired">
                                                    <label for="r-5" matTooltip="1 Star"></label>
                                                </div>
                                            </div>

                                            <!-- RATING -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'rate'">
                                                <mat-slider thumbLabel tickInterval="1" min="1" max="5" formControlName="answers" [required]="survey?.questions[i]?.isRequired"></mat-slider>
                                            </div>

                                            <!-- INCENTIVE -->
                                            <div *ngIf="survey?.questions[i]?.questionType === 'incentive'">
                                                <h5>For a chance at winning {{survey?.questions[i]?.option}}, Enter your email below.</h5>
                                                <form [formGroup]="incentiveForm">
                                                    <mat-form-field>
                                                        <mat-label>Email</mat-label>
                                                        <input matInput formControlName="userEmail">
                                                    </mat-form-field>
                                                </form>
                                                
                                            </div>

                                        <!-- END QUESTION TYPES -->
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <mat-card class="page-card">
                        <div class="submit-button">
                            <!-- SUBMIT BUTTON -->
                            <button mat-raised-button type="submit" [disabled]=!surveyForm.valid color="accent" id="sub-but">Submit</button>
                        </div>
                    </mat-card>
                </ng-container>
            </ng-container>
        </form>
        <div>
            <p class="text-center" [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
        </div>
        <app-powered-by></app-powered-by>
    </div>
</ng-template>