.spacer {
  flex: 1 1 auto;
}

form {
    margin: auto;
    padding: 1em;
}

.mat-form-field {
    display: block;
}

.mat-card-header {
    margin: 1em 0;
}

#question-input {
    width: 100%;
    text-align: center;
    text-decoration: black;
    font-size: large;   
    height: auto;
}

.card-answer {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.mat-radio-button {
    margin: 2em;
}

.single-button {
    width: 100%;
    margin: 2em 0;
}

.single-button button {
    width: 100%;
}

.mat-card {
    margin: 1em 0;
}

.button-group {
    width: 100%;
    display: flex;
}

.smilieFaces {
    display: inline-flex;
}
.smilieFaces .mat-radio-button {
    margin: 1em;
}