<div id="header">
    <h5>Taking {{ survey?.name | titlecase }}</h5>
</div>
<form (submit)="updateSurvey(formData.value)" #formData="ngForm">
    <div *ngFor="let question of questions; let i = index">

        <!-- BOOLEAN -->
        <div *ngIf="question?.questionType === 'boolean'">
            <p>{{ question.question }}</p>
            <mat-radio-group [(ngModel)]="question.answer" name="answer">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- MULTI CHOICE -->
        <div *ngIf="question?.questionType === 'mutiplechoice'">
            <p>{{ question?.question }}</p>
            <h6>MULTI CHOICE</h6>
        </div>

        <!-- SINGLE INPUT -->
        <div *ngIf="question?.questionType === 'text'">
            <mat-form-field>
                <p>{{ question?.question }}</p>
                <input matInput type="text" [(ngModel)]="question.answer" name="answer">
            </mat-form-field>
        </div>
    </div>
    <div class="text-center" id="button-group">
        <button mat-stroked-button type='submit' [disabled]=!formData.valid>Submit</button>
    </div>
</form>
<div>
    <p class="text-center" [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
</div>