.spacer {
  flex: 1 1 auto;
}

#header {
    width: 100%;
}

#header h5{
    text-align: center;
}

form {
    margin: auto;
    padding: 1em;
}

.mat-form-field {
    display: block;
}

.card-question {
    width: 100%;
    text-align: center;
    text-decoration: black;
    font-size: large;   
}
.card-answer {
    width: 100%;
    text-align: center;
}

.mat-radio-button {
    margin: 2em;
}

#button-group {
    width: 100%;
    margin: 2em 0;
}

#button-group button {
    width: 100%;
}

.mat-card {
    margin: 1em 0;
}

