<mat-dialog-content class="container-fluid">
  <section class="rights">
    <div class="col">
      <P>
        <b>{{ "rights.title1" | translate }}</b>
      </P>
      <span>
        {{ "rights.text1" | translate }}
      </span>
      <P>
        <b>{{ "rights.title2" | translate }}</b>
      </P>
      <span>
        {{ "rights.text2" | translate }}
      </span>
      <P>
        <b>{{ "rights.title3" | translate }}</b>
      </P>
      <span>
        {{ "rights.text3" | translate }}
      </span>
      <P>
        <b>{{ "rights.title4" | translate }}</b>
      </P>
      <span>
        {{ "rights.text4" | translate }}
      </span>
      <P>
        <b>{{ "rights.title5" | translate }}</b>
      </P>
      <span>
        {{ "rights.text5" | translate }}
      </span>
      <P>
        <b>{{ "rights.title6" | translate }}</b>
      </P>
      <span>
        {{ "rights.text6" | translate }}
      </span>
      <P>
        <b>{{ "rights.title7" | translate }}</b>
      </P>
      <span>
        {{ "rights.text7" | translate }}
      </span>
      <P>
        <b>{{ "rights.title8" | translate }}</b>
      </P>
      <span>
        {{ "rights.text8" | translate }}
      </span>
      <P>
        <b>{{ "rights.title9" | translate }}</b>
      </P>
      <span>
        {{ "rights.text9" | translate }}
      </span>
      <P>
        <b>{{ "rights.title10" | translate }}</b>
      </P>
      <span>
        {{ "rights.text10" | translate }}
      </span>
      <P>
        <b>{{ "rights.title11" | translate }}</b>
      </P>
      <span>
        {{ "rights.text11" | translate }}
      </span>
    </div>
  </section>
</mat-dialog-content>
