footer {
    width:100%;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.mat-toolbar {
    padding: 0;
}

.errors {
    color: red;
}

.errors span {
    font-size: small;
}

ul {
    list-style: none;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

ul li {
    vertical-align: top;
    height: 2em;
}

li h5 {
    width: 100%;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
    letter-spacing: 2px;
}

mat-grid-tile:last-child {
    padding:0;
}

form {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.mat-form-field {
    width: 100%;
    background-color: white;

}

.emailSub {
    padding: 0 1em 0.1em;
    margin-right: 1em;
}

.mat-form-field button {
    display: block;
}


#facebook-icon {
    text-decoration: none;
}

span {
    font-size: medium;
    vertical-align: super;
    word-spacing: 0.5em;
}

#copyright {
    width: 100%;
}

#left-column {
    padding: 0 0 0 1em;
}

#services-list {
    margin: 0;
    width: fit-content;
}