.errors {
    width: 100%;
    text-align: center;
    color: red;
    height: 10em;
}

img {
    padding-top: 2.5em;
}

.loaded {
    width: 100%;
    margin: auto;
}

.mat-spinner {
    margin: 5em auto;
}

.login-card {
    max-width: 19em;
    margin: auto;
}

form {
    margin: auto;
}

.mat-form-field {
    display: block;
    background-color: white;
}

.social {
    width:100%;
    display: grid;
    justify-content: center;
}

#FB-button {
    background-color: #4267b2;
    color: #fff;
    width: 100%;
}

#glogin {
    margin-top: 1em;
    background-color: #FFFFFF ;
    width: 100%;
}

.socialText {
    font: Roboto-Medium;
    size: 14px;
    color: #000000 / 0,0,0(54%);
}

#FB-button, #glogin {
    display: block;
}

.text {
    vertical-align: sub;
    margin-left: 1em;
}

.mat-divider {
    margin: 2em auto;
    width: 75%;
}

#login-button {
    width:100%;
}

#bottom {
    position: fixed;
    bottom: 0!important;
    left: 0;
    width: 100%;
    z-index: 10!important; 
}

a {
    color: #FFD600;
}

#icon {
    padding: 0;
    width: 2em;
}

.login-text {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: auto;
}