<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <img src="/assets/SurveysbyME.png" id="icon">
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!loaded; else mainTemplate">
  <div class="loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
<ng-template #mainTemplate>
  <div class="container">
    <div class="login-text">
      <h1 class="mat-h2">What do you want to know?</h1>
      <h2 class="mat-h2">reach anyone, anywhere!</h2>
      <h1 class="mat-h1">Get Started</h1>
    </div>

    <div class="login-card">
      <form [formGroup]="myForm">
        <!-- ** EMAIL ** -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <span matPrefix>
            <mat-icon>
              email
            </mat-icon>
          </span>
          <input matInput required formControlName="email" autocomplete="email">
        </mat-form-field>
      
        <!-- **  PASSWORD ** -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <span matPrefix>
            <mat-icon>
              https
            </mat-icon>
          </span>
          <input matInput type="password" formControlName="password" required autocomplete="new-password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint><a [routerLink]="[ '/change-password' ]" id="reset">forgot password?</a></mat-hint>
        </mat-form-field>
        <!-- BUTTON -->
        <button mat-stroked-button type="submit" (click)="loginParticipant(myForm)" [disabled]="!myForm.valid" color="primary"
          id="login-button">Login
        </button>
      </form>
    </div>

    <div *ngIf="errors" class="errors">
      {{ errors }}
    </div>

    <mat-divider>
    </mat-divider>

    <div class="social">
      <button mat-raised-button (click)="submitLogin()" id="FB-button">
        <!-- <mat-icon matPrefix svgIcon="facebook" aria-label="Facebook Icon"></mat-icon> -->
        <span class="socialText">Sign in with Facebook</span>
      </button>
      <button mat-raised-button id="glogin">
        <!-- <mat-icon matPrefix svgIcon="google" aria-label="Google Icon"></mat-icon> -->
        <span class="socialText">Sign in with Google</span>
      </button>
    </div>

  </div>
</ng-template>

<mat-toolbar id="bottom" color="primary">
  <div class="text-center">
    <p class="mat-h5">Don't have a account? <a routerLink="/register" color="accent">Sign up</a> for free!</p>
  </div>
</mat-toolbar> 