.errors {
    width: 100%;
    text-align: center;
    color: red;
    height: 10em;
}

img {
    padding-top: 2.5em;
}

form {
    margin: auto;
    position: fixed;
    bottom: 6em;
    left: 1em;
    right: 1em;
}

.mat-form-field {
    display: block;
    background-color: white;
}

button {
    width:100%;
}

#bottom {
    position: fixed;
    bottom: 0!important;
    left: 0;
    width: 100%;
    z-index: 10!important; 
}

a {
    color: #FFD600;
}

#icon {
    padding: 0;
    width: 2em;
}

.login-text {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}