<div class="error-header">
  <h2 mat-header>Survey Error</h2>
</div>
<div class="error-body">
  <h4>
    There seems to be a problem with this survey. To get this resolved as soon as possible, contact our support
    team and include the url you are trying to reach. <a href="mailto:suport@mellcgroup.com?Subject=Survey%20Error"
      target="_top">Contact Support</a>
  </h4>
  <div class="error-button">
    <button mat-raised-button (click)="logout()" matTooltip="go home" aria-label="home button" color="primary">
      Go back to home page
    </button>
  </div>
</div>