button {
    width: 100%;
    margin: auto;
}
#facebook-button {
    background-color: #4267b2;
    color: #fff;
}

.socialText {
    font: Roboto-Medium;
    size: 14px;
    margin-left: 1em;
    color: #000000 / 0,0,0(54%);
}

.signin-icon {
    position: absolute;
    left: 10%;
    margin: 2% 0;
}