.mat-header-cell span {
    width: 100%;
    text-align: center;
}

.view {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.mat-paginator {
    display: block;
    position: fixed!important;
    bottom: 0!important;
    width: 100%;
}