<div class="card">

  <div class="card-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveSurvey()" [formGroup]="surveyForm">
      <fieldset>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.name }">
          <label class="col-md-2 control-label" for="nameId">Survey Name</label>

          <div class="col-md-8">
            <input class="form-control" id="nameId" type="text" placeholder="Name (required)" formControlName="name" />
            <span class="help-block" *ngIf="displayMessage.name">
              {{displayMessage.name}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.category}">
          <label class="col-md-2 control-label" for="categoryId">Category</label>

          <div class="col-md-8">
            <input class="form-control" id="categoryId" type="text" placeholder="category (required)" formControlName="category" />
            <span class="help-block" *ngIf="displayMessage.category">
              {{displayMessage.category}}
            </span>
          </div>
        </div>

        <div formArrayName="questions" *ngFor="let question of questions.controls; let i=index">
          <div [formGroupName]="i">
            <div class="form-group">
              <label class="col control-label" attr.for="{{'questionType1Id' + i}}">Question Type</label>
              <div class="col">
                <input type="text" id="{{'questionType1Id' + i}}" formControlName="questionType">
              </div>
            </div>
        
            <div class="form-group" [ngClass]="{'has-error':  (question.controls.question.touched || question.controls.question.dirty) && !question.controls.question.valid }">
              <label class="col control-label" attr.for="{{'questionId' + i}}">question</label>
              <div class="col">
                <input type="text" class="form-control" id="{{'questionId' + i}}" placeholder="Question" formControlName="question">
                <span class="help-block" *ngIf="(question.controls.question.touched || question.controls.question.dirty) && question.controls.question.errors">
                  <span *ngIf="question.controls.question.errors.required">
                    Please enter your question.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]="!surveyForm.valid || !surveyForm.dirty">
                Save
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='alert alert-danger' *ngIf='errorMessage'>{{errorMessage}}</div>
  </div>

</div>

<br>Question: {{ questions.get('0.question')?.value }}

{{ surveyForm.value | json }}