$color-primary: #000;
$color-accent: #ffd600;

// Body
$body-color-bg: #eee;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;
